  <section class="navigation-bar">
        <header style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: rgba(255, 255, 255, 0.2); padding: 25px 0px;">
            <div class="header-content">
                <div class="logo"><a href="home"><img src="img/coupon.png" alt="Coupon logo" style="height:70px"></a></div>
                <div class="header-nav">
                    <nav>
                        <ul class="primary-nav">
                            <li><a href="campaign">Campaign</a></li>
                            <li><a href="campaign-list">Lists</a></li>
                            <li><a href="dashboard">Dashboard</a></li>
                        </ul>
                        <ul class="member-actions" style="top: 41px;">
                            <li><a href="login" class="login">Log in</a></li>
                            <li><a href="signup" class="btn-white btn-small">Sign up</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </section>

<div class="">
   <div class="grid-block">
      <div class="grid-container">
       <div class="grid-block align-center">
            <h2 class="title">CAMPAIGN CREATE</h2>
        </div>        
                  
           <div class="grid-block">
               <div class="grid-content">
                <from>
                    <label for="">Campaign Name
                    <input type="text" placeholder="Give your name"></label>
                    <label for="">Brand Name
                    <input type="text" placeholder="product name"></label>
                    <label for="">Start Date
                    <input type="date"></label>

                    <label for="">End Date
                    <input type="date"></label>

                    <label for="">Budget
                    <input type="number"></label>
                    <br><br>
                    <label for=""><strong>COUPON CONFIG</strong></label>
                    <div>
                        <label for="">Size
                        <input type="text" ></label>
                        <label for="">Count
                        <input type="text"></label>
                    </div>


                    <input type="submit">

                </from>
            </div>
           </div>
       
       </div>
       
   </div>    
  
</div>