<section class="navigation-bar">
    <header style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: rgba(255, 255, 255, 0.2); padding: 25px 0px;">
        <div class="header-content">
            <div class="logo">
                <a href="home"><img src="img/coupon.png" alt="Coupon logo" style="height:70px"></a>
            </div>
            <div class="header-nav">
                <nav>
                    <ul class="primary-nav">
                        <li><a href="campaign">Campaign</a></li>
                        <li><a href="campaign-list">Lists</a></li>
                        <li><a href="dashboard">Dashboard</a></li>
                    </ul>
                    <ul class="member-actions" style="top: 41px;">
                        <li><a href="login" class="login">Log in</a></li>
                        <li><a href="signup" class="btn-white btn-small">Sign up</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</section>

<div class="grid-container align-center">

    <div class="grid-block align-center">
        <div class="signup-title">
            <h2>SIGNUP</h2>
            <p class="welcome">Welcome to this awesome app!</p>
        </div>
    </div>

    <div class="grid-block signup-box">
        
        <div class="grid-content">
            <form>
                <div class="row">
                    <div class="small-12 columns">
                        <label for="">Username
                            <input type="text" name="username" placeholder="Your Name">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label for="">Email
                            <input type="email" name="email" placeholder="You Email Id">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label for="">Password
                            <input type="password" name="password" placeholder="Your Password">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <input type="submit" value="Sign Up!">
                    </div>
                </div>
            </form>
        </div>
        
        
        <div class="grid-content">
           <div class="card">
           <div class="card-section">
            <ul>
                <li>using Google +</li>
                <li>using Twitter</li>
                <li> using Facebook</li>
            </ul>
            </div>
            </div>
        </div>
   
    </div>

</div>