<section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="hero-content text-center">
                        <h1>Design, collaborate, win!</h1>
                        <p class="intro">Introducing Coupons. A responsive single page application, designed &amp; developed by Chennai Team.</p>
                        <a href="#/campaign" class="btn btn-accent btn-large btn-margin-right">CAMPAIGN</a> <a href="#/dashboard" class="btn btn-accent btn-large">DASHBOARD</a>
                    </div>
                </div>
            </div>
        </div>
   </section>